*{
  margin: 0;

}



@font-face{
  font-family: Clashroyalefont;
  src: url(YouBlockhead.ttf);
  color: rgb(238, 238, 29);
}

/*Main body stuff of website*/

.cardnamealign{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 30px;
  background-color: rgb(221, 56, 221);
  border-radius: 15px;
  color: black;
}

.threecolumns{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 10px;
  padding-top: 20px;
}

.twocolumns{
  display: grid;
  grid-template-columns: 300px 300px;
  gap: 100px;
  padding-top: 20px;
  border: 2px solid;
  padding-left: 200px;
}


.cardcounters{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


.roundborderimage{
  display: flex;
  border-radius: 70px;
  height: 702.27px;
  width: 526.7025px;
}

.paddingleftimage{
  padding-left: 100px;
}

.ccimagesize{
  height:431.6px;
  width:360px;
}

.next_backstyling{
  display: grid;
  grid-template-columns: auto auto;
}

.Nextbutton{
  float: right;
  color: rgb(238, 238, 29);
  font-family: Clashroyalefont;
}

.Backbutton{
  color: rgb(238, 238, 29);
  font-family: Clashroyalefont;
}

.cardstyling{
  height: 357px;
  width: 300px;
}


.centeraligncardimage{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  margin-bottom: 25px;
}

.cardimagegridtypes{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.description{
  font-size: x-large;
  color: rgb(238, 238, 29);
  font-family: Clashroyalefont;
}

.card{
  padding-top: 10px;
  font-size: xx-large;
}

.singlecard{
  display: grid;
  grid-template-columns: 300px 1200px;
  height: 752px;
  gap: 40px;
}

html{
  background-color: rgb(89, 71, 170);
}

.hometext{
  font-family: Clashroyalefont;
  color:rgb(185, 80, 218)
}



.maintext{
  font-family: clashroyalefont;
  color: rgb(238, 238, 29)
}


.column2horizontal{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  gap: 30px;
}

.border-colour1{
  border: 2px solid;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}


body{
  height: auto;
  width: 80%;
  margin:auto;
  background-color: rgb(20, 53, 102);
  background-attachment: fixed;
  background-repeat: repeat;
  background-size: cover;
  background-position: center;
}


.navimage{
  height: 85px;
  width: 210px;
}

.navgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}



/*Clash Royale Data Styling*/

.cardimagegrid{
  display: grid;
  grid-template-columns: repeat(5, 1fr);

}

.cardimagegrid img{
  width: 200px;
  height: 200px;
}

.navbarpadding{
  padding-bottom: 20px;
}

