*{
  margin: 0;

}



@font-face{
  font-family: Clashroyalefont;
  src: url(YouBlockhead.ttf);
  color: rgb(238, 238, 29);
}

/*Main body stuff of website*/

.cardnamealign{
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: magenta;
  border-radius: 15px;
  color: black;
}

.fourcolumns{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding-top: 20px;
}

.singlecard{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  gap: 30px;
}

html{
  background-color: rgb(89, 71, 170);
}

.hometext{
  font-family: Clashroyalefont;
  color: rgb(185, 80, 218)
}

.maintext{
  font-family: clashroyalefont;
  color: rgb(238, 238, 29)
}


.column2horizontal{
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: auto;
  gap: 30px;
}



body{
  width: 80%;
  height: 100%;
  margin:auto;
  background-color: rgb(20, 53, 102);
  
}


.navimage{
  height: 85px;
  width: 210px;
}

.navgrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}



/*Clash Royale Data Styling*/

.cardimagegrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}