{% extends "layout.html" %}
{% block content %}

<body>
    
    
    
    <h1 class="cardnamealign">{{card[1]}}</h1>
    <div class = "singlecard">
        <div>  
            <img src="/static/cardimages/{{card[2]}}"> <p class ="maintext"></p>
        </div>
        <div>
            <p>{{card[3]}}</p>
            <div class ="fourcolumns">
            {%for counter in counters%}
                <div>
                    {{counter}}
                    <img src="/static/cardimages/{{counter[1]}}"> <p class ="maintext"></p>
                </div>
            {%endfor%}    
            </div>
        </div>
    </div>
</body>
{% endblock %}