{% extends "layout.html" %}
{% block content %}

<body>
    
    
    
    <h1 class="cardnamealign">{{card[1]}}</h1>
    <div class = "singlecard">
        <div class ="boarder-colour1">  
            <img class="cardstyling" src="/static/cardimages/{{card[2]}}"> <p class ="maintext"></p>
        </div>
        <div class ="boarder-colour2">
            <div class="description"><p>{{card[3]}}</p></div>
            {%if card[4] != 3 %}
            <p>Counter For This Card Are:</p>
            {%endif%}
            <div class ="threecolumns">
            {%for counter in counters%}
                <a href="/card/{{counter[2]}}"><div class="cardcounters">
                    {{counter[0]}}
                    <img src="/static/cardimages/{{counter[1]}}" alt="no image yet"> <p class ="maintext"></p>
                </div>
                </a>
            {%endfor%}    
            </div>
        </div>
    </div>
</body>
{% endblock %}