{% extends "layout.html" %}
{% block content %}

<body>


    <h1 class="cardnamealign">Card Type</h1>
    <div class = "cardimagegrid"> 
            <a href="/type"><div><img class="cardstyling" src="/static/cardtypeimages/knight.png"> <p class ="maintext">Troops</p></div></a>
            <a href=""><div><img class="cardstyling" src="/static/cardtypeimages/zap.png"> <p class ="maintext">Spells</p></div></a>
            <a href=""><div><img class="cardstyling" src="/static/cardtypeimages/mortar.png"> <p class ="maintext">Buildings</p></div></a>
    </div>


</body>
{% endblock %}
