{% extends "layout.html" %}
{% block content %}
<div  class = "column2horizontal" >
    <body class = "hometext">
        <div>
            <div class="paddingleftimage">
            <img class = "roundborderimage" src="/static/crgameplay.png">
            </div>
            
            <div>
                <p>Clash Royale is a real-time strategy game where players build decks of cards featuring troops, spells, and defenses to battle opponents and destroy their towers while defending their own. Fast-paced matches, competitive ladder, and clan features make it engaging and addictive.</p>
            </div>
        </div>
        
        
        <div>
            <div>
                <h1>Hello, my website is an informational website based on Supercells card game Clash Royale. This website will help you undestand more about the game and made to hopefully make you undestand how to play better!</h1>
            </div>
            <br>
            <div>
                <h1>Made to help interested users find out more about this amazing game. In this website you can find all the differnet cards and their card counters, different arenas you can find cards in, and the type of card you can have in clash royale</h1>
            </div>
        </div>

    </body>
</div>
{% endblock %}