<a href="/" title ="This takes you to home page">
    <img src="/static/clashroyalelogo.png" class="navimage">
    </a>
    <div class="navgrid">
        <a href="/allcards/1" class = "navtext" title="Takes you to the all cards page">
            <p class="maintext">All Cards</p>
        </a>

        <a href="/arenas" class = "navtext" title="This takes you to the arenas page">
            <p class="maintext">Arenas</p>
        </a>

        <a href ="/cardtype" class = "navtext" title ="This takes you to the cardtype page">
            <p class="maintext">Card Type</p>
        </a>
    </div>
<hr>

