<ul>
    <a href="/" title ="This takes you to home page">
        <img src="/static/clashroyalelogo.png" class="navimage">
        </a>
        <div class="navgrid">
            <li><a href="/allcards" class = "navtext" title="Takes you to the all cards page">
                All Cards
            </a>
            </li>

            <li><a href="/arenas" class = "navtext" title="This takes you to the arenas page">
                Arenas
            </a>
            </li>

            <li><a href ="/cardtype" class = "navtext" title ="This takes you to the cardtype page">
                Card Type
            </a>
            </li>
        </div>
    <hr>
</ul>